html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $font-primary;
  font-size: $font-base-size;
}

a {
  color: $font-link;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  &:hover {
    color: darken($font-link, 10%);
  }
}

.pageTitle {
  color: $c-black;
  font-size: 32px;
  margin-bottom: 1rem;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex: 1 0 auto;
}
